<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>histogramme Tawarano</title>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
google.charts.load('current', {packages:['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
var data = google.visualization.arrayToDataTable([
['Mois', 'Température'],
['Janvier', 8],
['Février', 10],
['Mars', 15],
['Avril', 19],
['Mai', 23],
['Juin', 27],
['Juillet', 29],
['Août', 28],
['Septembre', 24],
['Octobre', 18],
['Novembre', 13],
['Décembre', 9]
]);

var options = {
title: 'histogramme des températures de Tawarano',
backgroundColor: '#FFE6F2',
colors: ['#C300FF'],
legend: { position: 'none' },
chartArea: { top: 80, width: '80%', height: '70%' },

hAxis: {
title: 'Mois',
textStyle: { color: '#D81B60', bold: true },
titleTextStyle: { color: '#880E4F', bold: true }
},
vAxis: {
title: 'Température (°C)',
textStyle: { color: '#8E24AA', bold: true },
titleTextStyle: { color: '#6A1B9A', bold: true }
},
titleTextStyle: {
color: '#AD1457',
fontSize: 22,
bold: true
}
};

var chart = new google.visualization.ColumnChart(
document.getElementById('chart_div')
);
chart.draw(data, options);
}
</script>
</head>
<body>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
</html>
